extends layout

block content
  div(class="container")
    h1= title
    h1= NIM
    h2= nama
    table(class="table")
      tr
        td tugas
        td selesai
      each p in penilaian
       tr
         td= p[0]
         td= p[1]
         td
           a(href="../toggle?nim="+NIM+"&tid="+p[2]) toggle

