extends layout

block script
  script(src="/javascripts/tugas/toggle.js")

block content
  h3 
    a(href="../../list_peserta/") back
  h1= title
  h1= NIM
  h2= nama
  table(class="table")
    tr
      td tugas
      td selesai
    each p in penilaian
     tr
       td= p.nama_tugas
       td.selesai(tid=p.id)= p.selesai
       td
         a.toggle(nim=NIM,tid=p.id) toggle