extends layout

block content
  div(class="container")
    h1= title
    h1= NIM
    h1= nama
    table(class="table")
      tr
        td tugas
        td selesai
      each p in penilaian
       tr
         td= p[0]
         td= p[1]

