extends layout

block content
  a(href="/logout") logout
  h1= fullname
  h3= NIM
  table.table
    tr
      td Tugas
      td Selesai
    each task in tasks
      tr
        td= task.nama_tugas
        td= task.selesai
  table.table
    tr
      td Tanggal
      td Day
      td Kehadiran
    each day in days
      tr
        td= day.date
        td= day.name
        td= day.attendance